<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chat Rooms R Us</title>
    <style media="screen">
      .float-page-left {
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="float-page-left">
      <h1>Welcome to my chatt app!</h1>
      <h2>It's still a work in progress.</h2>
      <h3>But we'll get there eventually!</h3>  
    </div>
  </body>
</html>
